{% extends "nav.html"%}

{%block title %}Stock Market Prediction{% endblock %}
 
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Stock Prediction</h1>
    </div>
    <div>
        <form method="post">  
            <label for="symbol">Enter symbol/name here:</label><br>
            <input type="text" name="symbol" id="symbol"><br><br>  
            <input type="submit" name="submit" value="Search">  
        </form>
    </div>
    <br>
    {% if company != '' %}
        <h1>{{company}} - {{symbol}}</h1>
    {% endif %}

    {% if prediction|length > 0%}
        {% for each in prediction %}
            <div>
                <span>Next {{loop.index}} day prediction: {{each}} </span>
            </div>
        {% endfor %}
    {% endif %}

    {% if img_url %}
        <img style="width: 75%;" src="data:image/png;base64, {{img_url}}"/>
    {% endif%}
    
    {% if news|length > 0%}
        <div>
            <p>Found news: </p>
            {% for each in news%}
                <li>{{ each.date }} - {{ each.text }}</li>
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock %}

