

{%extends "bootstrap/base.html"%}

{%block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container ">
        <div class="">
            <h1>Stock Market Prediction</h1>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Stock Price Prediction</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/other_analysis">Other Analysis</a></li>
                <li><a href="/">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}


