{% extends "nav.html"%}

{% block title %}Stock Market Prediction{% endblock %}

{% block content %} 
<div class="container">
    <div class="page-header">
        <h1>Other Analysis</h1>
    </div>
    <div>
        choose from ....
        </ul>
        <form method="post">   
            <li><input type="submit" name="link" value="Moving Average"></li>
            <li><input type="submit" name="link" value="Rate of Return"></li>
            <li><input type="submit" name="link" value="Correlation"></li> 
            <li><input type="submit" name="link" value="Risk and Return"></li>
        </form>
        </ul>
    </div>
    <br>

</div>

{% endblock %}



